h1, h2, h3 {
  color: green;
  font-family: "Open Sans";
}

p {
  font-family: "Open Sans";
}

code {
  color: rgb(47, 81, 102);
}

.box {
  margin-top: 60px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 60px;
}

.comment {
  color: green;
}

.input {
  color: rgb(215, 23, 225);
}

.keyword {
  color: blue;
}
