h1, h2, h3 {
  color: green;
  font-family: "Open Sans";
}

p, li, ol, div {
  font-family: "Open Sans";
}

code {
  color: rgb(47, 81, 102);
}

.box {
  margin-top: 60px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 100px;
}

.comment {
  color: green;
}

.input {
  color: rgb(215, 23, 225);
}

.keyword {
  color: blue;
}

.function {
  color: rgb(105, 127, 19);
}

.terminal {
  background-color: black;
  color: white;
}

